# .gitignore

# 用途
# 不需要git跟踪的文件，忽略的文件

# mac 系统文件夹自带文件
.DS_Store

# 依赖文件
/node_modules/

# 打包文件
/dist/

# 报错文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器相关文件
.idea
.vscode

# Visual Studio 相关文件
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

作者：jimmylau
链接：https://juejin.cn/post/7078915771703197727
来源：稀土掘金
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。